<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAsBoSpRmu_iVKJnWIThrmURdO1GnzrfHI</string>
	<key>GCM_SENDER_ID</key>
	<string>387985779931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.postalcolony.shuttlerides</string>
	<key>PROJECT_ID</key>
	<string>monatageride</string>
	<key>STORAGE_BUCKET</key>
	<string>monatageride.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:387985779931:ios:1ad13cab59d81b2779f0fe</string>
</dict>
</plist>